<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = 'https://kit.fontawesome.com/a81368914c.js'></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
        
    </head>

    <body class='main'>
        <img class='dlmainbg' src="{{ url_for('static', filename='img/folder2.png') }}">
        <div class = 'container'>
            <nav>
                <input type= 'checkbox' id = 'nav' class='hidden'>
                <label for='nav' class='nav-btn'>
                    <i></i>
                    <i></i>
                    <i></i>
                </label>
                <div class='logo'>
                    <a href='{{ common.home }}'>
                        <img alt="Qries" src="{{ url_for('static', filename='img/logo.png') }}" width='100' height='85'>
                    </a>
                </div>
                <div class='nav-wrapper'>
                    <ul>
                        <li>
                            <form action='{{ common.base }}search/'>
                                <input class="search__input" type="text" placeholder="Search" name = "search">
                                <button class="search__submit" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                        <li><a href='{{ common.base }}upload/' class='fas fa-upload link'></a></li>
                        <li><a href='{{ common.base }}review/list/{{ user_id }}' class='fas fa-comments link'></a></li>
                        <li><a href='#' class='fas fa-sign-out-alt'></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class='dlmaintext'>
            <h3 class="fixed">{{ material.course_code }}</h3>
            <div class="word">
                <span style='font-size: 30px; animation: none;'>{{ material.course_name }}</span>
            </div>
            <div class='describe'>{{ material.file_name }}</div>
        </div>
        <div class = 'dlcontent'>
            <a href='{{ material.file_path }}'>Download</a>
        </div>
        <div class = 'backbtn'>
            <a href='{{ common.base }}detail/{{ material.file_id }}/'>Back</a>
        </div>

        

        
        <script type='text/javascript' src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>