<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = 'https://kit.fontawesome.com/a81368914c.js'></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
    </head>
    <body class='main'>
        <img class='mainbg animate animated fadeInLeft' src="{{ url_for('static', filename='img/mainbg.png') }}">
        <div class = 'container animate animated fadeInDown slow-2s'>
            <nav>
                
                <input type= 'checkbox' id = 'nav' class='hidden'>
                <label for='nav' class='nav-btn'>
                    <i></i>
                    <i></i>
                    <i></i>
                </label>
                <div class='logo'>
                    <a href='{{ common.home }}'>
                        <img alt="Qries" src="{{ url_for('static', filename='img/logo.png') }}" width='100' height='85'>
                    </a>
                </div>
                <div class='nav-wrapper'>
                    <ul>
                        <li>
                            <form action='{{ common.base }}search/'>
                                <input class="search__input" type="text" placeholder="Search" name = "search">
                                <button class="search__submit" type="submit"><i class="fa fa-search link"></i></button>
                            </form>
                            
                        </li>
                        <li><a href='{{ common.base }}upload/' class='fas fa-upload link'></a></li>
                        <li><a href='{{ common.base }}review/list/{{ user_id }}' class='fas fa-comments link'></a></li>
                        <li><a href='{{ common.base }}login/' class='fas fa-sign-out-alt link'></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class='maintext animate animated fadeInRight delay-0.5s slow-1s'>
            <h3 class="fixed">Hello</h3>
            <div class="word">
                <span>S</span>
                <span>M</span>
                <span>U</span>
                <span>g</span>
                <span>g</span>
                <span>e</span>
                <span>r</span>
                <span>!</span>
            </div>
            <div class='describe'>What would you like to study today?</div>
        </div>
        <div class = 'content animate animated fadeInUp'>
            {% for material in materials %}
            <div class="blog-card spring-fever">
                <div class="title-content">
                    <div class='title'>{{ material.course_code }}</div>
                    <div class="intro">{{ material.course_name }}</div>
                    <div class='filename'>{{ material.file_name }}</div>
                </div><!-- /.title-content -->
                <div class="utility-info">
                    <ul class="utility-list">
                    <li class="comments">
                        <i class="fas fa-star"></i>{{ material.rating_avg }}
                    </li>
                    <li class="date">
                        <i class="fas fa-calendar-plus"></i>{{ material.upload_date }}
                    </li>
                    <li class='arrow'>                
                        <a href='{{ common.base }}detail/{{ material.file_id }}/' style='width: 170%;' class="fas fa-arrow-alt-circle-right fa-lg card-link"></a>
                    </li>
                    </ul>
                </div><!-- /.utility-info -->
                <!-- overlays -->
                <div class="gradient-overlay"></div>
                <div class="color-overlay"></div>
            </div><!-- /.blog-card -->
            {% endfor %}
            <!-- Remove this whole script tag when above for loop is tested and working -->
            <script>
            //     <div class="blog-card spring-fever">
            //     <div class="title-content">
            //         <div class='title'>SMT 203</div>
            //         <div class="intro">Smart City Systems And Management</div>
            //         <div class='filename'>SMT_203_WEEK_5_LAB_4.pdf</div>
            //     </div><!-- /.title-content -->
            //     <div class="utility-info">
            //         <ul class="utility-list">
            //         <li class="comments">
            //             <i class="fas fa-star"></i>12
            //         </li>
            //         <li class="date">
            //             <i class="fas fa-calendar-plus"></i>03.12.2015
            //         </li>
            //         <li class='arrow'>                
            //             <a href='{{ common.base }}detail' style='width: 170%;' class="fas fa-arrow-alt-circle-right fa-lg card-link"></a>
            //         </li>
            //         </ul>
            //     </div><!-- /.utility-info -->
            //     <!-- overlays -->
            //     <div class="gradient-overlay"></div>
            //     <div class="color-overlay"></div>
            // </div><!-- /.blog-card -->
            //     <div class="blog-card spring-fever">
            //     <div class="title-content">
            //         <div class='title'>SMT 203</div>
            //         <div class="intro">Smart City Systems And Management</div>
            //         <div class='filename'>SMT_203_WEEK_5_LAB_4.pdf</div>
            //     </div><!-- /.title-content -->
            //     <div class="utility-info">
            //         <ul class="utility-list">
            //         <li class="comments">
            //             <i class="fas fa-star"></i>12
            //         </li>
            //         <li class="date">
            //             <i class="fas fa-calendar-plus"></i>03.12.2015
            //         </li>
            //         <li class='arrow'>                
            //             <a href='#' style='width: 170%;' class="fas fa-arrow-alt-circle-right fa-lg card-link"></a>
            //         </li>
            //         </ul>
            //     </div><!-- /.utility-info -->
            //     <!-- overlays -->
            //     <div class="gradient-overlay"></div>
            //     <div class="color-overlay"></div>
            // </div><!-- /.blog-card -->
            // <div class="blog-card spring-fever">
            //     <div class="title-content">
            //         <div class='title'>SMT 203</div>
            //         <div class="intro">Smart City Systems And Management</div>
            //         <div class='filename'>SMT_203_WEEK_5_LAB_4.pdf</div>
            //     </div><!-- /.title-content -->
            //     <div class="utility-info">
            //         <ul class="utility-list">
            //         <li class="comments">
            //             <i class="fas fa-star"></i>12
            //         </li>
            //         <li class="date">
            //             <i class="fas fa-calendar-plus"></i>03.12.2015
            //         </li>
            //         <li class='arrow'>                
            //             <a href='#' style='width: 170%;' class="fas fa-arrow-alt-circle-right fa-lg card-link"></a>
            //         </li>
            //         </ul>
            //     </div><!-- /.utility-info -->
            //     <!-- overlays -->
            //     <div class="gradient-overlay"></div>
            //     <div class="color-overlay"></div>
            // </div><!-- /.blog-card -->
            // <div class="blog-card spring-fever">
            //     <div class="title-content">
            //         <div class='title'>SMT 203</div>
            //         <div class="intro">Smart City Systems And Management</div>
            //         <div class='filename'>SMT_203_WEEK_5_LAB_4.pdf</div>
            //     </div><!-- /.title-content -->
            //     <div class="utility-info">
            //         <ul class="utility-list">
            //         <li class="comments">
            //             <i class="fas fa-star"></i>12
            //         </li>
            //         <li class="date">
            //             <i class="fas fa-calendar-plus"></i>03.12.2015
            //         </li>
            //         <li class='arrow'>                
            //             <a href='#' style='width: 170%;' class="fas fa-arrow-alt-circle-right fa-lg card-link"></a>
            //         </li>
            //         </ul>
            //     </div><!-- /.utility-info -->
            //     <!-- overlays -->
            //     <div class="gradient-overlay"></div>
            //     <div class="color-overlay"></div>
            // </div><!-- /.blog-card -->
            // <div class="blog-card spring-fever">
            //     <div class="title-content">
            //         <div class='title'>SMT 203</div>
            //         <div class="intro">Smart City Systems And Management</div>
            //         <div class='filename'>SMT_203_WEEK_5_LAB_4.pdf</div>
            //     </div><!-- /.title-content -->
            //     <div class="utility-info">
            //         <ul class="utility-list">
            //         <li class="comments">
            //             <i class="fas fa-star"></i>12
            //         </li>
            //         <li class="date">
            //             <i class="fas fa-calendar-plus"></i>03.12.2015
            //         </li>
            //         <li class='arrow'>                
            //             <a href='#' style='width: 170%;' class="fas fa-arrow-alt-circle-right fa-lg card-link"></a>
            //         </li>
            //         </ul>
            //     </div><!-- /.utility-info -->
            //     <!-- overlays -->
            //     <div class="gradient-overlay"></div>
            //     <div class="color-overlay"></div>
            // </div><!-- /.blog-card -->
            </script>
            
        </div>
        <script type='text/javascript' src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>