<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src = 'https://kit.fontawesome.com/a81368914c.js'></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css">
    </head>
    <body class='main'>
        <img class='mainbg animate animated fadeInLeft' src="../static/img/fillforms.png" style="top: 5%;">
        <div class = 'container animate animated fadeInDown slow-2s'>
            <nav>
                <input type= 'checkbox' id = 'nav' class='hidden'>
                <label for='nav' class='nav-btn'>
                    <i></i>
                    <i></i>
                    <i></i>
                </label>
                <div class='logo'>
                    <a href='{{ common.home }}'>
                        <img alt="Qries" src="{{ url_for('static', filename='img/logo.png') }}" width='100' height='85'>
                    </a>
                </div>
                <div class='nav-wrapper'>
                    <ul>
                        <li>
                            <form action='{{ common.base }}search/'>
                                <input class="search__input" type="text" placeholder="Search" name = "search">
                                <button class="search__submit" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                        <li><a href='{{ common.base }}upload/' class='fas fa-upload link'></a></li>
                        <li><a href='{{ common.base }}review/list/{{ user_id }}' class='fas fa-comments link'></a></li>
                        <li><a href='#' class='fas fa-user link'></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class='maintext animate animated fadeInRight delay-0.5s slow-1s'>
            <h3 class="fixed">File</h3>
            <div class="word">
                <span>Upload</span>
            </div>
            <div class='describe'>Thank you for contributing to the community!</div>
            <div style="color: #38d39f; font-family: Rosario;">
                {% if success != "" %}
                <strong>*{{ success }}*</strong>
                {% endif %}
            </div>
        </div>
        <div class = 'content animate animated fadeInUp' style="height: 430px;  font-family: Rosario;">
            <form class="upload-form" action="{{ common.base }}uploading/" method="post" enctype="multipart/form-data">
                <h5 style="padding-bottom: 15px;">Please enter the fields below</h5>
                
                <label for="course_code">
                <span>Course Code</span><input type="text" name="course_code" required="true" list="courseCodes" oninput="getCourseName(this.value)" placeholder="Eg. SMT203"/>
                <datalist id="courseCodes">
                    {% for code in courseDict.keys() %}
                        <option value="{{ code }}">
                    {% endfor %}
                </datalist>
                </label>
                <label for="course_name">
                <span>Course Name</span><input type="text" name="course_name" required="true" id="courseName" placeholder="Eg. Smart City System and Management"/>
                </label>
                <label for="course_term">
                    <span>Course Semester</span><input type="text" name="course_term" required="true" placeholder="Eg. ay1920sem2"/>
                    </label>
                <label for="prof_name">
                <span>Professor Name</span><input type="text" name="prof_name" required="true" list="profNames" placeholder="Eg. Tan Hwee Xian"/>
                <datalist id="profNames">
                    {% for prof in profList %}
                        <option value="{{ prof }}">
                    {% endfor %}
                </datalist>
                </label>
                <p style="font-size: small; font-style: italic;">Note: Ensure that your file is well labelled such that fellow smuggers will know what this file is about. Thank You! :3 E.g SMT203_Python_Cheatsheet.pdf</p>
                <!-- <div class='dlcontent select-file'>
                    <span>Select File</span>
                </div> -->
                <input type="file" name="input_file" />
                <label>
                    <input type="submit" value="Submit File" />
                </label>
                <div style="color: red;">
                    {% if errors != [] %}
                        {% for error in errors %}
                            <strong>*{{ error }}*</strong></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
        </div>
        <script type='text/javascript' src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script>
            
            function getCourseName(courseCode) {
                var courseDict = {{ courseDict|tojson }};
                document.getElementById("courseName").value = courseDict[courseCode]
            }
        </script>
    </body>
</html>